<{extends file="../layout.html"}>
<{block name="addcss"}>
<style>
    .table thead th {
        color: #f50d0d;
        font-size: 14px;
    }
</style>
<{/block}>
<{block name="content"}>
<!-- content -->
<div class="content ">
        
    <div class="d-flex gap-3 mb-4 d-print-none">
        <button onclick="javascript:window.print()" class="btn btn-outline-secondary d-none d-md-block btn-icon">
            <i class="bi bi-printer"></i> Print
        </button>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="invoice">
                <div class="d-md-flex justify-content-between align-items-center mb-4">
                    <div>상품번호 No : <span style="color: #f50d0d;"><{$buyer.productNumber}></span></div>
                    <div>구매일자 : <span style="color: #f50d0d;"><{$buyer.buyDate}></span></div>
                </div>
                <hr class="my-4">
                <div class="row">
                    <div class="col-md-6">
                        <p>
                            <strong>구매주소</strong>
                        </p>
                        <p><{$buyer.adress}></p>
                    </div>
                    <div class="col-md-6">
                        <p class="text-start text-md-end" style="text-align: left!important;">
                            <strong>우편번호</strong>
                        </p>
                        <p><{$buyer.postNum}></p>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table mb-4 mt-4" style="font-size: 15px;">
                        <thead class="thead-light">
                        <tr>
                            <th>#</th>
                            <th>구매휴대폰 제목</th>
                            <th class="text-end"></th>
                            <th class="text-end"></th>
                            <th class="text-end"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="text-end">
                            <td class="text-start"></td>
                            <td class="text-start"><{$buyer.phone_title}></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                        <thead class="thead-light">
                            <tr>
                                <th>#</th>
                                <th>구매자이름</th>
                                <th class="text-end">유저아이디</th>
                                <th class="text-end">구매모델</th>
                                <th class="text-end">구매방법</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-end">
                                <td class="text-start"></td>
                                <td class="text-start"><{$buyer.buyUser}></td>
                                <td><{$buyer.userId}></td>
                                <td><{$buyer.phoneModel}></td>
                                <td><{$buyer.buyType}></td>
                            </tr>
                        </tbody>
                        <thead class="thead-light">
                            <tr>
                                <th>#</th>
                                <th>휴대폰번호</th>
                                <th class="text-end">WeChat</th>
                                <th class="text-end">결제상태</th>
                                <th class="text-end">결제시간</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-end">
                                <td class="text-start"></td>
                                <td class="text-start"><{$buyer.phoneNumber}></td>
                                <td><{$buyer.weixin}></td>
                                <td><{$buyer.isDeposit}></td>
                                <td><{$buyer.depositDate}></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-end">
                    <p>휴대폰 가격: <{$buyer.prices}></p>
                    <p>구매대행가 : <{$buyer.purchasing}></p>
                    <h4 class="fw-bold">총가격: <{$buyer.totalPrice}></h4>
                </div>
            </div>
        </div>
    </div>

    </div>
    <!-- ./ content -->

<{/block}>